<style>
  .content {
    width: 40%;
    margin: 120px 30% 20px 30%; 
    padding: 30px;
    background-color: aliceblue;
  }
  .w-100 {
    width: 100%;
  }
  #error {
    color: red;
    margin-top: -12px;
    margin-bottom: 12px;
    font-weight: 600;
    text-align: center;
  }
  
  @media screen and (max-width: 1080px) {
    .content {
      width: 50%;
      margin: 100px 25% 20px 25%; 
    }
  }

  @media screen and (max-width: 820px) {
    .content {
      width: 60%;
      margin: 80px 20% 20px 20%;     
    }
  }

  @media screen and (max-width: 520px) {
    .content {
      width: 80%;
      margin: 80px 10% 20px 10%; 
    }
    .inp, 
    .btn,
    .error {
      font-size: 15px;
    }
  }
</style>
 
<div>
  <div class="content card center" role="main" *ngIf="!isPass">
    <form #secret = "ngForm" (ngSubmit)="submitSecret(secret.value)" autocomplete="off">
      <input type="text" name="input" class="inp form-control text-center mb-4" placeholder="Enter secret name" ngModel />  
      <div id="error" *ngIf="error"> {{error}} </div>  
      <button type="submit" class="btn btn-primary btn-block w-100">Open Secret Page</button>
    </form>
  </div>
  <character (passFalse)="isPassFalse()" [user]="selectedUser" *ngIf="isPass"></character>
</div>